
<div id="ColumnsAnimation" class="ColumnsAnimation row"  >
    <div class="ColumnsAnimation-title">
        {% embed "heading" with '{
			"text": "Fast. Premium, Experinced , The Xumak difference ",
			"type": "1",
			"class": ""
			}' %}
    </div>


    <xmk-columns :controller="smcontroller"  >
        <div  style="{% content.background %}" >
            <div class="ColumnsAnimation-content " >
                <div class="ColumnsAnimation-column  medium-4 columns">
                    <div class="ColumnsAnimation-box one-box" >
                        {% includes "parsys1" %}
                    </div>
                </div>
                <div class="ColumnsAnimation-column medium-4 columns">
                    <div  class="ColumnsAnimation-box two-box" >
                        {% includes "parsys2" %}
                    </div>
                </div>
                <div class="ColumnsAnimation-column medium-4 columns">
                    <div  class="ColumnsAnimation-box three-box">
                        {% includes "parsys2" %}
                    </div>
                </div>
            </div>
        </div>
    </xmk-columns>

</div>