.MainInput {
  position: relative;
  padding: 5px;
  &--focused {
    outline-color: $color-eastern-blue;
    outline-style: solid;
    outline-width: 2px;
  }
  &-label {
    font-family: $font-source-sans-pro-regular;
    @include rem(font-size, 16px);
    text-align: left;    
    height: 33px;
    line-height: 33px;
    position: absolute;
    top: 16px;
    width: calc(100% - 30px);
    margin-left: 10px;
    color: $color-iron;
    transition: all  0.3s linear ;
    background: $color-white;
  }

  &-input{
    font-family: $font-source-sans-pro-regular;
    @include rem(font-size, 16px);
    text-align: left;
    height: 33px;
    line-height: 33px;    
    width: 100%;
    margin: 0 10px;
    color: $color-scorpio;
    margin-top: 16px;
    border: 0px;
  }

  &-input:focus{
    outline: none;
  }

	&-underline{
    margin: 0 10px;
    height: 2px;
    display: block;
    background:$color-iron;
    transition: all  0.5s linear ;
  }

  &-description {
    @include rem(font-size, 11px);
    padding-left: 10px;
    display: none;
  }
    &--floating,
    &--success,
    &--warning,
    &--error{
      .MainInput {
        &-label{
          @include rem(font-size, 12px);
          color:$color-eastern-blue;
          top: 5px;
          height: auto;
          line-height: 1.6;
        }
        &-underline{
          background:$color-eastern-blue;
        }
      }
    }

    &--success{
      .MainInput {
        &-label{        
          color:$color-de-york;
        }
        &-underline{
          background:$color-de-york;
        }
        &-description {
          color:$color-de-york;
          display: block;
         }
      }
    }
    &--warning{
      .MainInput {
        &-label{
          color:$color-sunshade;
        }
        &-underline{
          background:$color-sunshade;
        }
        &-description {
          color:$color-sunshade;
          display: block;
         }
      }
    }
    &--error{
      .MainInput {
        &-label{
          color:$color-scarlet;
        }
        &-underline{
          background:$color-scarlet;
        }
        &-description {
          color:$color-scarlet;
          display: block;
         }
      }
    }

}