
<section id="app1">
    <h2>
        Menu
    </h2>
    <menu-accesibility></menu-accesibility>
  
   
</section>

  <script type="text/x-template" id="menu">
        <nav class="menu">
            <ul class="menu-mainList">
                <li v-for="item in menu.items" v-on:keyup.enter="enterItem(item)" class="menu-item" tabindex="0" v-bind:aria-expanded="[item.ariaExpandend]">
                    <span>{{ item.text }}</span>
                    <ul class="menu-SubList" v-show="item.submenu.ariaHidden" v-bind:aria-hidden="[item.submenu.ariaHidden]">
                        <li v-for="subitem in item.submenu.items" class="menu-subitem">
                            <a v-on:keyup="subItemEvent" href="#">submenu1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </script>