.text-link {
  @include rem(font-size, 14px);
  color: $color-torch-red;
  font-family: $font-hurme-geometric-sans-bold;
  line-height: 1.3;
  padding: 5px;
  text-decoration: underline;
  font-weight: bold;
}

.text-link:hover,
.text-link:focus {
  color: $color-shiraz;
  cursor: pointer;
  outline-color: $color-eastern-blue;
  outline-style: solid;
  outline-width: 2px;
}
