<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>xumak-nexus</id>
			<username>bedrock_nexus</username>
			<password>YgH2BceQLpUAtaJysEbwq6Gj</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>xumak-nexus-public</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>xumak-nexus</id>
					<name>XumaK Nexus Public</name>
					<url>http://54.236.230.120/nexus/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>xumak-nexus</id>
					<url>http://54.236.230.120/nexus/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>xumak-nexus-public</activeProfile>
	</activeProfiles>
</settings>
