<div class="row">
    <div class=" small-12 columns ">
        {% include "atoms" %}
    </div>
</div>
<div class="row">
    <div class=" small-12 columns ">
        {% include "simpleBanner" data="content" %}
    </div>
</div>
<div class="row">
    <div class=" small-12 columns ">
        {% include "simpleBanner" data="content2" %}
    </div>
</div>
{% include "simpleTopBanner" data="content" %}
{% include "simpleTopBanner" data="content2" %}
{% include "simpleTopBanner" data="content3" %}
{% include "simpleTopBanner" data="content4" %}
