
{% embed "templates.input" with '{}' %}

<script type="text/x-template" id="atom-select">
	<div class="Select">
  	<label class="Select-label" v-bind:class="{ 'Select-label--focused': hasStatus }" v-bind:for="id">{{ label }}</label>
    <button class="Select-button" v-bind:id="id" v-on:click="toggle" v-on:blur="hidden">
      <span class="Select-placeholder" v-if="placeholder && !selected">{{ placeholder }}</span>
      <span class="Select-text" v-else>{{ selected.text }}</span>
      <div class="Select-underlineContent">
        <span class="Select-underline" v-bind:class="{ 'Select-underline--focused': hasStatus }">  </span>
        <ul class="Select-list" v-show="isOpen">
          <li class="Select-listItem" v-for="item in options" v-on:click="update(item)">{{ item.text }}</li>
        </ul>
      </div>
    </button>
  </div>
</script>

<script type="text/x-template" id="hero">
    <div class="Hero">
        <!--<img class="Hero-img" src="img/img_background.jpg" alt="XumaK POC with Scrolling effects">-->
        <!-- Problems identified if we use a img tag: we would not be able to force the image to occupy 100% of 
            viewport.  This can only be accomplished using a div with a background image -->
        <div class="Hero-background" v-bind:style="{ 'background':  background , }"  ></div>
        <div class="Hero-content">
            <p class="Hero-title">
                {{title}}
            </p>
            <div class="Hero-cta">
                <a class="Cta Cta-primary" :href="linkUrl">See Solutions</a>
            </div>
        </div>
       
        <xumak-text> <p id="XumakText" class="XumakText">XumaK</p></xumak-text>
    </div>
</script>