.Button {
    display: inline-block;
    position: relative;
    height: 48px;
    width: 100%;
    background: $color-torch-red;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    &:hover {
       background: $color-shiraz; 
    }
    
    &-text {
        display: inline-block;
        color: $color-white;
        font-family: $font-hurme-geometric-sans-bold;
        font-weight: bold;
        @include rem(font-size, 16px);
        text-decoration: none;
        margin-top: 13px;
        
    }
    &-icon {
        display: inline-block;
        transform: rotateY(180deg);
        width: 16px; 
        height: 16px;
        margin-left: 17px;
        margin-top: 17px;
        float: right;
    }
    path {
        fill: $color-white;
    }
    @media (min-width: $breakpoint-tablet) {
        min-width: 100px;
        width: auto;

        &-text {
            margin-top: 11px;
        }
        &-icon {
            margin-top: 13px;
        }
    }
}

.Button--disabled {
    display: inline-block;
    height: 48px;
    width: 100%;
    background: $color-iron;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
    path {
        fill: $color-white;
    }
    &:hover {
       background: $color-iron; 
       cursor: default;
    }
    @media (min-width: $breakpoint-tablet) {
        min-width: 100px;
        width: auto;
    }
}

.Button--request {
    display: inline-block;
    height: 48px;
    width: 100%;
    background: $color-broom;
    padding: 0 20px;
    text-align: center;
    &:hover {
       background: $color-vogue-blue; 
       .Button-text {
        color: $color-white;
        }
        path {
            fill: $color-white;
        }
    }
    .Button-text {
        color: $color-vogue-blue;
    }
    path {
        fill: $color-vogue-blue;
    }
    @media (min-width: $breakpoint-tablet) {
        min-width: 100px;
        width: auto;

        &-text {
            @include rem(font-size, 16px);
        }
    }
}