
/* color palette for xumak.co 2017  */

$color-eastern-blue : #199fbc;
$color-regal-blue: #004169;
$color-vogue-blue: #023047;
$color-torch-red: #eb0029;
$color-shiraz: #ad0227;
$color-broom: #fff02a;
$color-iron: #e6e7e8;
$color-scorpio: #5d5d5d;
$color-bright-gray: #384049;
$color-mine-shaft: #353535;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #939393;

$color-sunshade:#FFA82A;
$color-de-york:#74C377;
$color-scarlet:#FF3600;
